.nav{
    margin:auto;
}
img{
    padding:0;
    width:auto;
}
.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-weight: 550;
}
a{
    text-decoration: none;
}
.search{
    background-color: white;
    border-radius: 5px;
}

input{
    border:none;
    border-radius: 5px;
}
.nav-link{
    color:#372a5a;
}
.nav-link:hover{
    color:rgb(112, 158, 158);
    border-bottom: 1px solid rgb(112, 158, 158);
}
.dropdown-menu{
    background-color: #372a5a;
    opacity: .5;
    color:black;
}
.title{
    font-family: 'Playfair Display', serif;
    width:100%;
    text-align: center;
    padding:25px auto;
}
.btn:focus{
    outline: none !important;
    box-shadow: none;
}
.btn {
    background-color: #F67280;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #8AC6D1;
    color:white;
    transform: translate(1%, 1%);
}

.card{
    margin:10px auto;
    width:18rem;
}
.card1{
    display:flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:95%;
    width:95%;
}